body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
}
header h1 {
    color: red;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a.active {
    color: red;
}
nav a:hover {
    color: red;
}

.search-container {
    display: flex;
}

.search-container input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-container button {
    padding: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: red;
    color: #fff;
}

.product-grid, .people-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card, .person-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product-card h2, .person-card h3 {
    color: red;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.main-content-h1 {
    font-size: 36px;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.login-btn, .signup-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn {
    background: red;
    color: #fff;
}

.signup-btn {
    background: green;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.person-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contact-us {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 70px;
}

.contact-form, .contact-info {
    padding: 20px;
    width: 40%;
    border: 3px solid #fff;
    
}

.contact-form h2, .contact-info h2 {
    text-align: center;
    color: white;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
}

.contact-form button {
    width: 99%;
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}